<div class="container">
  <button *ngIf="playerStatus === 'not playing'" (click)="playGame()">
    Play
  </button>
  <div *ngIf="playerStatus === 'not playing'" class="rules">
    <ul>
      <li>
        <strong>Objective:</strong> Your goal is to guess the hidden word by
        suggesting letters or guessing the entire word. You start with 5 lives,
        and each incorrect guess results in the loss of a life.
      </li>

      <li>
        <strong>Getting Started:</strong>
        <ul>
          <li>
            The game will provide you with a hint for the word you need to
            guess.
          </li>
          <li>
            You can choose to enter individual characters one by one or guess
            the entire word at once.
          </li>
        </ul>
      </li>

      <li>
        <strong>Guessing a Letter:</strong>
        <ul>
          <li>
            Enter a single letter and press submit to check if it's part of the
            hidden word.
          </li>
          <li>
            If the letter is correct, it will be revealed in its corresponding
            positions in the word.
          </li>
          <li>If the letter is incorrect, you lose a life.</li>
        </ul>
      </li>

      <li>
        <strong>Guessing the Entire Word:</strong>
        <ul>
          <li>
            If you think you know the entire word, you can enter the complete
            word and submit your guess.
          </li>
          <li>
            If your guess is correct, you not only reveal the entire word but
            also gain an additional life.
          </li>
          <li>If your guess is incorrect, you lose a life.</li>
        </ul>
      </li>

      <li>
        <strong>Scoring and Leaderboard:</strong>
        <ul>
          <li>
            Your score is based on the number of words you successfully guess.
          </li>
          <li>
            After losing all 5 lives, your final score will be displayed on the
            leaderboard.
          </li>
          <li>
            The leaderboard keeps track of the number of words guessed, and you
            can aim to improve your score with each attempt.
          </li>
        </ul>
      </li>

      <li>
        <strong>Additional Lives:</strong>
        <ul>
          <li>
            Successfully guessing the entire word earns you one additional life.
          </li>
          <li>You can accumulate extra lives to extend your gameplay.</li>
        </ul>
      </li>

      <li>
        <strong>Game Continuation:</strong>
        <ul>
          <li>
            You can continue playing as long as you want, attempting to guess
            more words and increase your score.
          </li>
        </ul>
      </li>

      <li>
        <strong>Have Fun:</strong>
        <ul>
          <li>
            Hangman is a game of wit and deduction. Enjoy the challenge and have
            fun trying to outsmart the hidden words!
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="playerStatus === 'playing'">
    <span>words guessed: {{ guessedWords }} -</span>
    <span> lives: {{ livesLeft }}</span>
  </div>
  <div *ngIf="playerStatus === 'game lost'">
    <p>You Lost 🙁</p>
    <p>you have guessed: {{ guessedWords }} word</p>
    <button (click)="playGame()">Play again</button>
  </div>
  <div *ngIf="playerStatus === 'playing' || 'game lost'">
    <img *ngIf="livesLeft >= 5" src="assets/Stage0.png" alt="img" />
    <img *ngIf="livesLeft === 4" src="assets/Stage1.png" alt="img" />
    <img *ngIf="livesLeft === 3" src="assets/Stage2.png" alt="img" />
    <img *ngIf="livesLeft === 2" src="assets/Stage3.png" alt="img" />
    <img *ngIf="livesLeft === 1" src="assets/init.png" alt="img" />
    <img *ngIf="livesLeft === 0" src="assets/Stage4.png" alt="img" />
  </div>
  <p *ngIf="playerStatus === 'playing'">Hint: {{ hint }}</p>
  <div *ngIf="playerStatus === 'playing'">
    <span *ngFor="let i of arr1">{{ i }}</span>
  </div>
  <input
    *ngIf="playerStatus === 'playing'"
    type="text"
    [(ngModel)]="enteredCharacter"
    placeholder="enter chatacter or word"
    required
  />
  <div *ngIf="playerStatus === 'playing'" class="buttons">
    <button (click)="validateInput()">Enter</button>
    <button
      (click)="playGame()"
      [disabled]="!guessed"
      [ngClass]="!guessed ? 'disabled' : ''"
    >
      Next Word
    </button>
  </div>
</div>
